# Ignore virtual environment folder
venv/
.env

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Django migration files
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py
*/migrations/*.sqlite3

# Ignore other system files
.DS_Store
Thumbs.db

# Ignore database
*.sqlite3

# Ignore media and static files (if applicable)
media/
static/

# .gitignore
.env
